input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    appearance: textfield;
  }

.productTable {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.productTable thead,
.productTable tfoot {
    background-color: #edecec;
}

.productTable th {
    padding: 15px;
}

.productTable th,
.productTable td {
    width: 19%;
}

.productTable th.removeCol,
.productTable td.removeCol {
    width: 5%;
}

.roundBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.roundBtnContent {
    display: block;
    font-size: 20px;
}

.removeBtn{
    font-weight: 700;
    padding-bottom: 1px;
}

.productPhoto {
    max-width: 100%;
    max-height: 100%;
    width: 100px;
    height: 100px;
    padding: 5px 0;
}

.quantityHolder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantityNumber {
    margin: 0 10px;
    width: 40px;
    border: none;
    text-align: center;
}

.cellHeader {
    display: none;
}


.totalPrice {
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 700;
}

.proceedBtnHolder {
    text-align: center;
    margin: 20px 0;
}

.proceedBtn {
    padding: 10px 20px;
    margin: auto;
    cursor: pointer;
    background-color: #1f1e1e;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
}

.proceedBtn:hover {
    background-color: #000;
}

.emptyCart{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.emptyCartIcon{
    max-width: 300px;
    display: block;
    margin-bottom: 30px;
}

.emptyCartHeading{
    margin-bottom: 20px;
}

.emptyCartText{
    font-weight: 500;
}

@media (max-width: 768px) {

    .productTable th {
        display: none;
    }

    .productTable td,
    .productTable td.removeCol {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }

    .productPhoto {
        margin: auto;
    }

    .cellHeader {
        display: block;
        font-weight: 700;
    }
}

@media (max-width: 600px) {
    .productTable,
    .emptyCart{
        width: 80%;
        margin: auto;
    }
}