.mainNav {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    overflow: hidden;
    color: #fff;
    background-color: black;
    padding: 12px  0 9px;   
}

.navItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.logo{
    width: 200px;
    height: 33px;
    margin-right: 70px;
}

.cartInfo{
    display: flex;
    align-items: center;
}


.price{
    margin-right: 10px;
}

.numOfItems{
    margin-right: 35px;
    color: #bfbdbdc4;
}


.cartIcon{
    width: 20px;
    height: 26px;
}

@media (max-width: 576px){

    .mainNav{
        padding-left: 20px;
    }

    .cartInfo{
        display: none;
    }
    
}

