.mainNav {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    overflow: hidden;
    color: #fff;
    background-color: black;
    padding: 12px  0 9px;   
}

.navItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.logo{
    width: 200px;
    height: 33px;
    margin-right: 70px;
}

.cartInfo{
    display: flex;
    align-items: center;
}


.price{
    margin-right: 10px;
}

.numOfItems{
    margin-right: 35px;
    color: #bfbdbdc4;
}

.btn{
    background: none;
    border: none;
    cursor: pointer;
}

.cartIcon{
    width: 20px;
    height: 26px;
}

.dropdownCart{
    position: fixed;
    right: 0;
    margin-right: 5%;
    width: 350px;
    color: #fff;
    border: 3px solid #bfbdbd;
    background-color: #1f1e1e;
    z-index: 999;
}

.cartSummary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    border-bottom: 1px solid #bfbdbd;
    padding: 15px;
}

.totalPrice{
    font-size: 1.4rem;
    margin-left: 10px;
}

.productList{
    height: 180px;
    padding: 15px;
    overflow: auto;
}

.product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #bfbdbd;
}

.btnCartHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.cartBtn{
    border: 2px solid #bfbdbd;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.cartBtn:hover{
    background-color: #000;
}

.emptyCart{
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emptyCartIcon{
    display: block;
    width: 100px;
}

.emptyCartMsg{
    font-size: 1.2rem;
    font-weight: 500;
}
@media (max-width: 576px){

    .mainNav{
        padding-left: 20px;
    }

    .cartInfo,
    .dropdownCart{
        display: none;
    }
}

