*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

.heading{
    margin: 20px 0;
}

.vh100{
    min-height: 100vh;
}

@media (max-width: 600px){
    body{
        margin-bottom: 80px;
    }

    .container{
        width: 100%;
    }

    .heading{
        padding-left: 20px;
    }
}